<style>
h1 {
	font-size: 100px;
	font-family: "fantasy";
}
</style>
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/2000px-Rock-paper-scissors.svg.png");
}
