<style>
h1 {
	font-size: 200px;
	font-family: verdana;
}
body {
    background-image: url ("https://lh3.ggpht.com/T8mO5r-dCOQvU2fqlaSgSLKA9V4228_1auem1NP-5qA0zcY5bElqpPvzHIZGWM_M4Gyx=h900");
	background-position: bottom;
	background-repeat: repeat-x;
}
</style>